#recipes
  .page-header
    .row
      %h1#header
        = "Search results for \"#{@query}\""
        = link_to 'Back', root_path, :class => "btn btn-default pull-right paginators"

  .row
    = render @recipes
