.formError {
  color: #a94442
}

.error {
  color: #a94442;
  border-color: #a94442 !important
}

.field_with_errors input {
  border-color: #a94442
}

.field_with_errors select {
  border-color: #a94442
}

.name {
  font-size: 3em;
  text-align: center;
}

.profile {
  top: 50%;
  left: 50%;
}

.bleh {
  font-size: 2em;
  padding-bottom: 15px;
}
